$font-serif: Sitka Heading, serif;
$font-sans-serif: Yu Gothic UI, Segoi UI, Helvetica Nue, Helvetica, Arial, Sans-serif; ;
$dark-blue: #2a3548;
$dark-green: #2c495d;
$dark-brown: #907852;
$light-white: #fafaf9;
$light-cream: #dbd5c9;
$gold: #d6a846;
$dark-gold: #b78b40;
$dark-red: #8e5f4d;
